* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #64ffda;
  --background-color: #0a192f;
  --font-color: #ccd6f6;
}
body {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  background-color: var(--background-color);
}
nav {
  display: flex;
  justify-content: end;
  gap: 10px;
  color: var(--font-color);
  height: 100px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
}

#logo {
  position: absolute;
  left: 100px;
  top: 35px;
  color: var(--primary-color);
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid var(--background-color);
  transition: color 0.5s ease;
  transition: transform 0.2s ease-in-out;
}

nav li:hover {
  transform: translateY(-5px);
}

button {
  margin-right: 100px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  border-radius: 5px;
  padding: 6px 10px;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  width: 74px;
}

button:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.main-container {
  width: 60%;
  margin: auto;
}

#about-container {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 70px;
  height: max-content;
  gap: 40px;
  align-items: center;
}
.top-p {
  color: var(--primary-color);
  margin-left: 5px;
  margin-bottom: 30px;
}

h1 {
  font-size: 80px;
  color: #8892b0;
  font-family: Calibre, Inter, "San Francisco";
}

.my-name {
  color: #ccd6f6;
}
.main-p {
  color: #8892b0;
  width: 50%;
  margin-top: 30px;
  line-height: 1.8;
}

h1::selection {
  color: var(--primary-color);
}

.top-link:hover {
  color: var(--primary-color);
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color);
}

.about-text {
  color: #adb3c7;
  line-height: 1.5;
  width: 60%;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.icons-container {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.icons-container img {
  width: 25px;
  margin: 15px 0;
  transition: transform 0.2s ease-in-out;
}

.icons-container img:hover {
  transform: translateY(-3px);
}

.vertical-line {
  border-right: 1px solid #515665;
  height: 120px;
  width: 50%;
}

h2 {
  color: var(--font-color);
}

.name-date {
  grid-area: date;
}
.work-duties {
  grid-area: duties;
}

.work-duties li {
  margin-bottom: 10px;
  color: var(--font-color);
  font-family: Calibre, Inter, "San Francisco";
  line-height: 1.7;
}
ol {
  list-style: none;
}

hr {
  width: 300px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid #515665;
}

#experience-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 60%;
  margin: auto;
  margin-bottom: 200px;
  margin-top: 140px;
}

#jobs {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  vertical-align: middle;
  line-height: 30px;
  vertical-align: middle;
  max-height: 100px;
}

.work {
  color: var(--font-color);
  width: 100;
  padding-left: 20px;
  border-left: 1px solid gray;
}
.work:hover {
  cursor: pointer;
  background-color: #192c47;
  color: var(--primary-color);
}

.work-date {
  color: var(--primary-color);
}

.description-text {
  color: var(--font-color);
  line-height: 25px;
  width: 80%;
}

#experience-container {
  height: 100%;
}

#experience-container ol {
  margin-left: 20px;
  vertical-align: middle;
  justify-content: center;
  color: var(--font-color);
}
#description-container {
  margin-left: 15px;
  height: 30vh;
}

#description-container a {
  color: var(--primary-color);
}

#description-container p {
  margin-bottom: 15px;
}
#experience-container li {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.active {
  border-left: 2px solid var(--primary-color);
  background-color: #192c47;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: -1;
}

@media (max-width: 400px) {
  * {
    width: unset;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: right;
    padding: 40px 40px 0 0;
    color: var(--font-color);
    align-items: center;
  }

  button {
    margin: 0;
  }

  .icons-container {
    all: unset;
    display: flex;
    justify-content: right;
    padding: 20px 30px 0 0;
  }

  .icons {
    display: flex;
    gap: 5px;
  }

  .icons a {
    padding: 5px 10px;
  }

  .icons-container img {
    width: 25px;
    margin: 0;
    transition: transform 0.2s ease-in-out;
  }

  .icons {
    display: flex;
  }
  .vertical-line {
    display: none;
  }

  .main-container {
    width: unset;
    margin: 20px 5% 70px 10%;
  }

  .top-p {
    font-size: 20px;
  }

  .main-container h1 {
    font-size: 4rem;
  }

  .main-p {
    width: unset;
  }
  #about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: unset;
    margin: 0 0 70px 0;
    padding: 5% 5% 5% 10%;
    height: unset;
    gap: unset;
    align-items: center;
    gap: 20px;
    background-color: #182436c5;
  }

  #profile-pic {
    width: 160px;
    height: 160px;
  }

  .about-text {
    width: unset;
  }

  #experience-container {
    display: unset;
    width: unset;
    margin: 0;
  }

  #jobs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 30px;
    vertical-align: middle;
  }

  #jobs p {
    padding: 5px 0 4px 20px;
  }

  #description-container {
    padding: 0 4% 0 5%;
    height: 700px;
  }

  .description-text {
    font-size: 16px;
  }

  #logo {
    display: none;
  }
}
